body {
	font-family: 'poppins', sans-serif;
    color: #1B2D4D;
    display: block;
    margin: 250px;
    margin-bottom: 50px;
    margin-top: 20px;
    background-color: rgb(251, 188, 193);
}

.pp {
    border-radius: 50%; 
    width: 40%; 
    height: auto;
}

.reseaux {
    opacity: 0.1;
    width: 5%;
    height: auto;
    margin-right: 10px;
    margin-left: 10px;
    transition-duration: 250ms;
}

.reseaux:hover {
    opacity: 1;
    size: 2cm;
    width: 5%;
    height: auto;
    margin-right: 10px;
    margin-left: 10px;
    transform: scale(1.2)
}

.newsletter-form {
    background-color: #ffffff;
    padding: 5px 0px 30px 0px;
    border-radius: 5px;
    text-align: center;
    max-width: auto;
  }
  
  .newsletter-form h3 {
    color: #ff1c5d;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .newsletter-form input[type="email"] {
    padding: 10px;
    border-radius: 5px;
    background-color: #f2f2f2;
    border: none;
    width: 60%;
    margin-right: 10px;
  }
  
  .newsletter-form button {
    background-color: #ff1c5d;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  

  .containall {
    text-align: center;
    color: white;
    background-color: #f595b2;
    border-radius: 10px 10px 0px 0px;
    padding: 5px;
}  

.carte-one {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    padding: 0px 20px 0px 0px;
    text-align: center;
    box-shadow: 0px 0px 42px -10px rgba(0,0,0,0.1);
    margin-top: 0px;
    margin-bottom: 40px;
}

.carte-p1-left {
    background-color: white;
    border-radius: 10px;
    text-align: center; 
    margin-top: 30px;
    color: #ff1c5d;
}

.carte-p1-right {
    background-color: white;
    border-radius: 10px;
    text-align: center;
    margin-top: 20px;
    color: #ff1c5d;
}

.desc {
    font-style: italic;
}  

.carte-two {
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    padding: 5px;
    text-align: left;
    box-shadow: 0px 0px 42px -10px rgba(0,0,0,0.1);
    margin-top: 0px;
    margin-bottom: 40px;
}


.desc-p-two {
    font-style: italic;
}  

.cellules {
    border-spacing: 25px;
    color: #ff1c5d;
}

.cellules-gras {
    font-weight: 600;
}

.carte-three {
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    padding: 5px;
    text-align: left;
    box-shadow: 0px 0px 42px -10px rgba(0,0,0,0.1);
    margin-top: 0px;
    margin-bottom: 40px;
}

.carte-four {
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    padding: 15px 0px 15px 0px; 
    box-shadow: 0px 0px 42px -10px rgba(0,0,0,0.1);
    margin-bottom: 40px;
    text-align: center; 
}
